<!DOCTYPE html>
<html>
  <head>
  HELLO AND WELCOME!

      </head>
   <br>
 First write your name and then proceed with the test
  <br>
  <body>
    <form method="post">
    <select name= "HERE">
      <option value="test">Test</option>
  <option value="start">start</option>
  <option value="dont start">dont start</option>
  <option value="i hate tests">I hate Tests</option>
  </select>
    </form>
<form action="Test.erb">
  First name:<br>
  <input type="text" name="firstname" value="">
  <br>
  Last name:<br>
  <input type="text" name="lastname" value="">
  <br><br>
  <input type="submit" value="Submit">
</form>
  </body>
  </html>