<!DOCTYPE html>
<html>
  <head>
  HELLO AND WELCOME!

      </head>
   <br>
 First, please write your name, then proceed with the test to claim your prize!
  <br>
  <body>
    <form>
    <select>
      <option value="Test">Test</option>
  <option value="Start">Start</option>
  <option value="Don't Start">Don't Start</option>
  <option value="I Hate Tests">I Hate Tests</option>
  </select>
    </form>
<form method="post" action="/test">
  First name:<br>
  <input type="text" name="firstname" value="">
  <br>
  Last name:<br>
  <input type="text" name="lastname" value="">
  <br><br>
  <input type="submit" value="Submit">
</form>
  </body>
  </html>