<!DOCTYPE html>
<html>
  <head>

<link rel="stylesheet" type="text/css" href="css/style.css">
<title>
  Surprise
    </title>
      </head>
   <br>

  <body>

    <h1> HELLO AND WELCOME </h1>
    <h3> Please write your name, then proceed with the test to claim your prize! </h3>
    <form method="post" action="/test">
    <select>
      <option value="Test">Test</option>
  <option value="Start">Start</option>
  <option value="Don't Start">Don't Start</option>
  <option value="I Hate Tests">I Hate Tests</option>
  </select>
  <br>
  <br>
      First name:<br>
  <input type="text" name="firstname" value="">
  <br>
  Last name:<br>
  <input type="text" name="lastname" value="">
  <br><br>
  <input type="submit" value="Submit">
</form>
  </body>
  </html>