<!DOCTYPE html>
<html>
<body>
  <p>
   1. What is your gender?

    <option value="boy">Boy </option>
    <option value="girl">Girl</option>
    <option value="dinosaur">dinosuar</option>
    <option value ="alien">Alien</option>
    <option value="other">Other</option>
    </p>

  <p>
    2. What is your age?

    <option value="0-15">0-15</option>
    <option value="16-30">16-30</option>
    <option value="31-45">31-45</option>
    <option value="46-60">46-60</option>
    <option value="61+">61+</option>

  </p>
<p>
  3. What is your mood at the moment?
  <option value="overjoyed">overjoyed </option>
    <option value="chill">chill</option>
    <option value="sad">sad</option>
    <option value ="tired">tired</option>
    <option value="other">Other</option>
  </p>
  <p>
   4. What celebrity do you want to meet?

    <option value="alex rodriguez">Alex Rodriguez </option>
    <option value="taylor Swift">Taylor Swift </option>
    <option value="brad pitt">Brad Pitt</option>
    <option value ="donald trump">Donald Trump</option>
    <option value="celebreties want to meet me">Celebreties want to meet me</option>
  </p>
  <p>

    5. What is your favorite food?

    <option value="steak">Steak </option>
    <option value="pasta">pasta</option>
    <option value="ice cream">ice cream</option>
    <option value ="pizza">pizza</option>
    <option value="chocolate">chocolate</option>
  </p>


  </body>



</html>