<!DOCTYPE html>
<html>
<head>
  <title>
    Surpise Quiz
  </title>
  </head>
  <body>
  <form method="post" action="/respond">
  <p>

   1. What is your gender?
<select name="gender">
    <option  value="Boy">Boy </option>
    <option  value="Girl">Girl</option>
    <option  value="Dinosaur">Dinosuar</option>
    <option  value ="Alien">Alien</option>
    <option  value="Other">Other</option>
    </select>
    </p>

  <p>
    2. What is your age?
<select name="age">
    <option  value="0-15">0-15</option>
    <option  value="16-30">16-30</option>
    <option  value="31-45">31-45</option>
    <option  value="46-60">46-60</option>
    <option  value="61+">61+</option>
    </select>
  </p>
<p>
  3. What is your mood at the moment?
  <select name="mood">
  <option  value="Overjoyed">Overjoyed </option>
    <option  value="Chill">Chill</option>
    <option  value="Sad">Sad</option>
    <option  value ="Tired">Tired</option>
    <option  value="Other">Other</option>
  </select>
  </p>
  <p>
   4. What celebrity do you want to meet?
<select name="celebrity">
    <option  value="Alex Rodriguez">Alex Rodriguez </option>
    <option  value="Taylor Swift">Taylor Swift </option>
    <option  value="Brad Pitt">Brad Pitt</option>
    <option  value ="Donald Trump">Donald Trump</option>
    <option  value="Celebrities want to meet me">Celebrities want to meet me</option>
    </select>
  </p>
  <p>

    5. What is your favorite food?
<select name="food">
    <option  value="Steak">Steak </option>
    <option  value="Pasta">Pasta</option>
    <option  value="Ice Cream">Ice Cream</option>
    <option  value ="Pizza">Pizza</option>
    <option  value="Chocolate">Chocolate</option>
    </select>
  </p>
<input type="submit" value="Submit">
  </form>
  </body>



</html>